In [2]:
import pandas as pd

In [ ]:
uriage = pd.read_csv("../input/uriage.csv")
print(uriage.shape)
uriage.head(3)

In [ ]:
kokyaku = pd.read_excel("../input/kokyaku_daicho.xlsx")
print(kokyaku.shape)
kokyaku.head(3)

In [ ]:
uriage["item_name"] = uriage["item_name"].str.upper()
uriage["item_name"] = uriage["item_name"].str.replace(" ", "")
uriage["item_name"] = uriage["item_name"].str.replace("  ", "")
uriage.sort_values(by=["item_name"], ascending=True)

In [ ]:
pd.unique(uriage["item_name"])

(2999, 4)

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二

In [7]:
kokyaku = pd.read_excel("../input/kokyaku_daicho.xlsx")
print(kokyaku.shape)
kokyaku.head(3)

(200, 5)

      顧客名       かな  地域                    メールアドレス         登録日
0   須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com  2018/01/04
1  岡田　 敏也  おかだ としや  E市  okada_toshiya@example.com       42782
2    芳賀 希   はが のぞみ  A市    haga_nozomi@example.com  2018/01/07

In [12]:
uriage["item_name"] = uriage["item_name"].str.upper()
uriage["item_name"] = uriage["item_name"].str.replace(" ", "")
uriage["item_name"] = uriage["item_name"].str.replace("  ", "")
uriage.sort_values(by=["item_name"], ascending=True)

            purchase_date item_name  item_price customer_name
0     2019-06-13 18:02:34       商品A       100.0         深井菜々美
1748  2019-05-19 20:22:22       商品A       100.0          松川綾女
223   2019-06-25 08:13:20       商品A       100.0           板橋隆
1742  2019-06-13 16:03:17       商品A       100.0          小平陽子
1738  2019-02-10 00:28:43       商品A       100.0          松田浩正
...                   ...       ...         ...           ...
2880  2019-04-22 00:36:52       商品Y         NaN          田辺光洋
2881  2019-04-30 14:21:09       商品Y         NaN          高原充則
1525  2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹
1361  2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル
3     2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒

[2999 rows x 4 columns]

In [13]:
pd.unique(uriage["item_name"])

array(['商品A', '商品S', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C', '商品I',
       '商品R', '商品X', '商品G', '商品P', '商品Q', '商品Y', '商品N', '商品W', '商品E',
       '商品K', '商品B', '商品F', '商品D', '商品M', '商品H', '商品T', '商品J'],
      dtype=object)