In [67]:
import warnings
warnings.filterwarnings("ignore")

In [68]:
import pandas as pd

In [69]:
uriage = pd.read_csv("../input/uriage.csv")
print(uriage.shape)
uriage.head(3)

(2999, 4)

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二

In [70]:
uriage.isnull().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [71]:
kokyaku = pd.read_excel("../input/kokyaku_daicho.xlsx")
print(kokyaku.shape)
kokyaku.head(3)

(200, 5)

      顧客名       かな  地域                    メールアドレス         登録日
0   須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com  2018/01/04
1  岡田　 敏也  おかだ としや  E市  okada_toshiya@example.com       42782
2    芳賀 希   はが のぞみ  A市    haga_nozomi@example.com  2018/01/07

In [72]:
uriage["item_name"] = uriage["item_name"].str.upper()
uriage["item_name"] = uriage["item_name"].str.replace(" ", "")
uriage["item_name"] = uriage["item_name"].str.replace("  ", "")
uriage.sort_values(by=["item_name"], ascending=True)

            purchase_date item_name  item_price customer_name
0     2019-06-13 18:02:34       商品A       100.0         深井菜々美
1748  2019-05-19 20:22:22       商品A       100.0          松川綾女
223   2019-06-25 08:13:20       商品A       100.0           板橋隆
1742  2019-06-13 16:03:17       商品A       100.0          小平陽子
1738  2019-02-10 00:28:43       商品A       100.0          松田浩正
...                   ...       ...         ...           ...
2880  2019-04-22 00:36:52       商品Y         NaN          田辺光洋
2881  2019-04-30 14:21:09       商品Y         NaN          高原充則
1525  2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹
1361  2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル
3     2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒

[2999 rows x 4 columns]

In [73]:
pd.unique(uriage["item_name"])

array(['商品A', '商品S', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C', '商品I',
       '商品R', '商品X', '商品G', '商品P', '商品Q', '商品Y', '商品N', '商品W', '商品E',
       '商品K', '商品B', '商品F', '商品D', '商品M', '商品H', '商品T', '商品J'],
      dtype=object)

In [74]:
item_price_is_null = uriage["item_price"].isnull()
for item in list(uriage.loc[item_price_is_null, "item_name"].unique()):
    price = uriage.loc[(item_price_is_null == False) & (uriage["item_name"] == item), "item_price"].max()
    uriage["item_price"].loc[(item_price_is_null) & (uriage["item_name"] == item)] = price

uriage.isnull().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [ ]:
uriage.head(3)

In [ ]:
uriage["purchase_date"] = pd.to_datetime(uriage["purchase_date"])
uriage["purchase_month"] = uriage["purchase_date"].dt.strftime("%Y%m")
uriage.head(3)

In [ ]:
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace("　", "")
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace("　　", "")
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace(" ", "")
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace("  ", "")
pd.unique(kokyaku["顧客名"])

In [ ]:
kokyaku.head(3)

In [ ]:
date_is_digit = kokyaku["登録日"].astype("str").str.isdigit()
date_is_digit.sum()

In [ ]:
from_digit_to_date = pd.to_timedelta(kokyaku.loc[date_is_digit, "登録日"].astype("float"), unit="D") + pd.to_datetime("1900/01/01")
from_digit_to_date

In [ ]:
date_is_str = pd.to_datetime(kokyaku.loc[date_is_digit == False, "登録日"])
date_is_str

In [ ]:
kokyaku["登録日"] = pd.concat([from_digit_to_date, date_is_str], axis=0)
kokyaku.head(3)

In [ ]:
kokyaku["登録年月"] = kokyaku["登録日"].dt.strftime("%Y%m")
kokyaku.head(3)

In [ ]:
all_data = pd.merge(
    uriage, 
    kokyaku, 
    left_on="customer_name", 
    right_on="顧客名", 
    how="left",
)
all_data.head(3)

In [ ]:
all_data.to_csv("../input/all_data.csv", index=False)

In [ ]:
df = pd.read_csv("../input/all_data.csv")
df.head(3)

In [ ]:
pd.pivot_table(
    data=df,
    index="purchase_month",
    columns="item_name",
    aggfunc="size",
    fill_value=0
)

In [ ]:
pd.pivot_table(
    data=df,
    index="purchase_month",
    columns="顧客名",
    aggfunc="size",
    fill_value=0,
)

In [ ]:
pd.pivot_table(
    data=df,
    index="purchase_month",
    columns="地域",
    aggfunc="size",
    fill_value=0,
)

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29       商品S      1900.0          浅田賢二
2  2019-05-11 19:42:07       商品A       100.0          南部慶二

In [76]:
uriage["purchase_date"] = pd.to_datetime(uriage["purchase_date"])
uriage["purchase_month"] = uriage["purchase_date"].dt.strftime("%Y%m")
uriage.head(3)

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905

In [77]:
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace("　", "")
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace("　　", "")
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace(" ", "")
kokyaku["顧客名"] = kokyaku["顧客名"].str.replace("  ", "")
pd.unique(kokyaku["顧客名"])

array(['須賀ひとみ', '岡田敏也', '芳賀希', '荻野愛', '栗田憲一', '梅沢麻緒', '相原ひとり', '新村丈史',
       '石川まさみ', '小栗正義', '大倉晃司', '那須蒼甫', '清水裕次郎', '榊原しぼり', '高沢美咲', '川島友以乃',
       '唐沢景子', '稲田将也', '秋葉あき', '西脇礼子', '内村まさみ', '進藤瞬', '小口豊', '笹原しぼり',
       '岩佐孝太郎', '河村由樹', '菅原誠治', '榎本薫', '高梨結衣', '鶴岡薫', '藤木一恵', '森岡季衣',
       '田畑正敏', '宇野秀樹', '高原充則', '梅村秀樹', '浅田賢二', '石渡小雁', '吉岡サダヲ', '井口寛治',
       '奥光洋', '佐藤慶二', '東光博', '高田さんま', '合田光', '深田信輔', '島英嗣', '梅津淳子',
       '日比野徹', '熊倉綾', '松田浩正', '楠高史', '岡慶太', '市田寿明', '山西花', '青山鉄洋', '松川綾女',
       '大滝麗奈', '赤木愛梨', '楠哲平', '堀内聡', '八木雅彦', '林勇', '日野夏希', '麻生莉緒', '根岸仁晶',
       '赤木だん吉', '亀井一徳', '横田遥', '野本仁晶', '西原未華子', '五十嵐春樹', '堀江佑', '久保田倫子',
       '金森なつみ', '城戸芳正', '望月真悠子', '井本マサカズ', '米沢仁晶', '本橋直人', '古川信吾', '岩沢那奈',
       '西島知世', '戸塚美幸', '深井照生', '新谷智花', '有馬徹平', '本多フミヤ', '浜田未華子', '牧田玲那',
       '島孝太郎', '石田花', '星野美嘉', '黒谷長利', '深沢ひろ子', '矢部夏空', '立石茜', '手塚雅之',
       '松谷愛子', '中田美智子', '片瀬長利', '石崎幸子', '明石家明', '小川美菜', '田辺光洋', '神原美嘉',
       '岩城徹平', '相川良介', '植村遥', '井川真悠子', '松元翔太', 'さだ千佳子', '島本研二', '影山輝信',
       '浅見広司', '石野仁', '小平陽子', '福本美幸', '中仁晶', '田辺きみまろ', '熊倉明日', '鈴木一哉',
       '杉田将也', '徳重優', '松岡ノブヒコ', '藤広之', '谷本愛梨', '松沢育二', '清水佑', '土屋朝陽',
       '鳥居広司', '福島友也', '堀サンタマリア', '井川里穂', '田崎菜々美', '平田鉄二', '井上桃子', '尾形小雁',
       '沖遥', '矢部美幸', '島袋友以乃', '深井菜々美', '南部慶二', '若杉徹', '矢部惇', '熊井憲史',
       '岡村希', '桑原桃子', '原口俊二', '尾上勝久', '杉下悟志', '志村サダヲ', '山口法子', '大城ケンイチ',
       '新村美月', '河内さとみ', '内田聡', '吉村愛梨', '根岸莉央', '丸山光臣', '石田佑', '根本博明',
       '今茜', '村山知世', '大山咲', '島崎礼子', '松居満', '田上美佐子', '篠山雅功', '外山広司',
       '岩井莉緒', '大崎ヒカル', '矢沢恵梨香', '石田郁恵', '荻野愛菜', '香椎優一', '黄川田博之', '井村俊二',
       '植木沙知絵', '小松隼士', '松村聡', '平賀一哉', '手塚進', '磯野希', '白井俊二', '笹川照生',
       '芦田博之', '大地礼子', '小町瞬', '水野メイサ', '板橋隆', '綾瀬俊介', '和泉直人', '堀北雅彦',
       '唐沢涼', '川上りえ', '小松季衣', '白鳥りえ', '大西隆之介', '福井美希'], dtype=object)

In [78]:
kokyaku.head(3)

     顧客名       かな  地域                    メールアドレス         登録日
0  須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com  2018/01/04
1   岡田敏也  おかだ としや  E市  okada_toshiya@example.com       42782
2    芳賀希   はが のぞみ  A市    haga_nozomi@example.com  2018/01/07

In [79]:
date_is_digit = kokyaku["登録日"].astype("str").str.isdigit()
date_is_digit.sum()

22

In [80]:
from_digit_to_date = pd.to_timedelta(kokyaku.loc[date_is_digit, "登録日"].astype("float"), unit="D") + pd.to_datetime("1900/01/01")
from_digit_to_date

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 登録日, dtype: datetime64[ns]

In [81]:
date_is_str = pd.to_datetime(kokyaku.loc[date_is_digit == False, "登録日"])
date_is_str

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [82]:
kokyaku["登録日"] = pd.concat([from_digit_to_date, date_is_str], axis=0)
kokyaku.head(3)

     顧客名       かな  地域                    メールアドレス        登録日
0  須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com 2018-01-04
1   岡田敏也  おかだ としや  E市  okada_toshiya@example.com 2017-02-18
2    芳賀希   はが のぞみ  A市    haga_nozomi@example.com 2018-01-07

In [88]:
kokyaku["登録年月"] = kokyaku["登録日"].dt.strftime("%Y%m")
kokyaku.head(3)

     顧客名       かな  地域                    メールアドレス        登録日    登録年月
0  須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com 2018-01-04  201801
1   岡田敏也  おかだ としや  E市  okada_toshiya@example.com 2017-02-18  201702
2    芳賀希   はが のぞみ  A市    haga_nozomi@example.com 2018-01-07  201801

In [89]:
all_data = pd.merge(
    uriage, 
    kokyaku, 
    left_on="customer_name", 
    right_on="顧客名", 
    how="left",
)
all_data.head(3)

,purchase_date,item_name,item_price,customer_name,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,深井菜々美,201906,深井菜々美,ふかい ななみ,C市,fukai_nanami@example.com,2017-01-26,201701
1,2019-07-13 13:05:29,商品S,1900.0,浅田賢二,201907,浅田賢二,あさだ けんじ,C市,asada_kenji@example.com,2018-04-07,201804
2,2019-05-11 19:42:07,商品A,100.0,南部慶二,201905,南部慶二,なんぶ けいじ,A市,nannbu_keiji@example.com,2018-06-19,201806

In [90]:
all_data.to_csv("../input/all_data.csv", index=False)

In [93]:
df = pd.read_csv("../input/all_data.csv")
df.head(3)

,purchase_date,item_name,item_price,customer_name,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,深井菜々美,201906,深井菜々美,ふかい ななみ,C市,fukai_nanami@example.com,2017-01-26,201701
1,2019-07-13 13:05:29,商品S,1900.0,浅田賢二,201907,浅田賢二,あさだ けんじ,C市,asada_kenji@example.com,2018-04-07,201804
2,2019-05-11 19:42:07,商品A,100.0,南部慶二,201905,南部慶二,なんぶ けいじ,A市,nannbu_keiji@example.com,2018-06-19,201806

In [94]:
pd.pivot_table(
    data=df,
    index="purchase_month",
    columns="item_name",
    aggfunc="size",
    fill_value=0
)

item_name,商品A,商品B,商品C,商品D,商品E,商品F,商品G,商品H,商品I,商品J,...,商品Q,商品R,商品S,商品T,商品U,商品V,商品W,商品X,商品Y,商品Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [95]:
pd.pivot_table(
    data=df,
    index="purchase_month",
    columns="顧客名",
    aggfunc="size",
    fill_value=0,
)

顧客名,さだ千佳子,中仁晶,中田美智子,丸山光臣,久保田倫子,亀井一徳,五十嵐春樹,井上桃子,井口寛治,井川真悠子,...,香椎優一,高原充則,高梨結衣,高沢美咲,高田さんま,鳥居広司,鶴岡薫,麻生莉緒,黄川田博之,黒谷長利
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,3,1,4,2,2,0,5,3,3,1,...,0,1,1,1,5,2,0,2,2,5
201902,9,1,2,2,1,4,2,1,0,4,...,4,0,3,2,0,1,2,4,0,1
201903,1,2,1,6,1,4,3,3,2,2,...,3,1,6,2,4,2,4,2,2,1
201904,0,3,1,2,0,2,2,0,3,2,...,2,4,2,3,4,3,2,1,2,0
201905,3,2,5,2,4,1,2,1,3,3,...,1,1,1,0,2,2,3,4,4,1
201906,1,3,0,4,1,1,1,2,2,3,...,7,3,0,2,1,0,2,1,2,4
201907,3,0,3,2,5,3,5,2,5,5,...,2,4,4,2,0,2,4,3,4,1

In [97]:
pd.pivot_table(
    data=df,
    index="purchase_month",
    columns="地域",
    aggfunc="size",
    fill_value=0,
)

地域              A市  B市  C市  D市  E市  F市  G市  H市
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54